<ul>
    <li><a href="{{ url('news') }}">News</a></li>
    <li><a href="{{ url('guide') }}">Guide</a></li>
    <li><a href="{{ url('shows') }}">Shows</a></li>
    {#<li><a href="{{ url('search') }}">Search</a></li>#}
</ul>